[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thematt = {editable = true,path = "."}
mattapi = ">=0.92"
mattapi-targets = "*"

[dev-packages]
pylint = "*"
pep8 = "*"

[requires]
python_version = "3.7"
